@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  @apply font-sans;
}

.wp-block {
  @apply max-w-screen-xl;
}

.wp-block[data-align="wide"] {
  @apply max-w-screen-xl;
}

.wp-block[data-align="full"] {
  @apply max-w-full;
}

#hero-splide {
  .splide__list {
    padding: 0;
    margin: 0;
  }

  .splide__slide {
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .splide__slide:not(:first-of-type) {
    display: none;
  }
}
