@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "button.css";

body {
  @apply font-sans;
}

.wp-block {
}

.wp-block[data-align="full"] {
  max-width: 100%;
}

#hero-splide {
  .splide__list {
    padding: 0;
    margin: 0;
  }

  .splide__slide {
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .splide__slide:not(:first-of-type) {
    display: none;
  }
}
